
<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <caption>Searched ID: {{id_user}}</caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">{{userdetail.name}}</th>
              </tr>
            </thead>
            <tbody>
              <td></td>
              <td>Company</td><td>{{userdetail.company.name}}</td>           
            </tbody>
            <tbody>
              <td></td>
              <td>E-Mail</td><td>{{userdetail.email}}</td>           
            </tbody>
            <tbody>
                <td></td>
                <td>Phone</td><td>{{userdetail.phone}}</td>           
            </tbody>
            
          </table>
          
    </div>
</div>


